# ***DATA PREPROCESSING IN MACHINE LEARNING***

---
Datamining & Engingeering
* Imputer
*Label Encoding
*OneHotEncoder

In [0]:
  import pandas as pd

In [56]:
#reading csv file from url
df=pd.read_csv('info.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Country      10 non-null object
Age          9 non-null float64
Salary       9 non-null float64
Purchased    10 non-null object
dtypes: float64(2), object(2)
memory usage: 400.0+ bytes

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [57]:
x=df.iloc[:,:].values
x

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [0]:
#removing missing value or replaing missing value with some relevant data
from sklearn.preprocessing import Imputer

In [59]:
imp=Imputer(missing_values='NaN', axis=0,strategy='mean')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [60]:
impute=imp.fit(x[:,1:3])    #this is only fitting of columns that we want to process
x[:,1:3]=impute.transform(x[:,1:3])               #time for transforming the fitted colums
x

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 63777.77777777778, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 38.77777777777778, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [0]:
#string label in integer or float.
from sklearn.preprocessing import LabelEncoder

In [62]:
count=LabelEncoder()     #this is for countr labeling
x[:,0]=count.fit_transform(x[:,0])      #labeling column country
x[:,3]=count.fit_transform(x[:,3])      #labeling column purchased 
x

array([[0, 44.0, 72000.0, 0],
       [2, 27.0, 48000.0, 1],
       [1, 30.0, 54000.0, 0],
       [2, 38.0, 61000.0, 0],
       [1, 40.0, 63777.77777777778, 1],
       [0, 35.0, 58000.0, 1],
       [2, 38.77777777777778, 52000.0, 0],
       [0, 48.0, 79000.0, 1],
       [1, 50.0, 83000.0, 0],
       [0, 37.0, 67000.0, 1]], dtype=object)

In [0]:
#now encoding first column ----------making sub clumn if furst column
from sklearn.preprocessing import OneHotEncoder

In [0]:
firstcol=OneHotEncoder(categorical_features=[0])   #defining exact column number where we want to make category

In [0]:
x=firstcol.fit_transform(x).toarray()                   #after transformation we need to convert numpy array

In [73]:
x.astype(int)                  #to show in integer only

array([[    0,     1,     0,     1,     0,     0,    44, 72000,     0],
       [    1,     0,     1,     0,     0,     1,    27, 48000,     1],
       [    1,     0,     1,     0,     1,     0,    30, 54000,     0],
       [    1,     0,     1,     0,     0,     1,    38, 61000,     0],
       [    1,     0,     1,     0,     1,     0,    40, 63777,     1],
       [    0,     1,     0,     1,     0,     0,    35, 58000,     1],
       [    1,     0,     1,     0,     0,     1,    38, 52000,     0],
       [    0,     1,     0,     1,     0,     0,    48, 79000,     1],
       [    1,     0,     1,     0,     1,     0,    50, 83000,     0],
       [    0,     1,     0,     1,     0,     0,    37, 67000,     1]])