# Random  forest classification algorithm

In [0]:
import pandas as pd

In [2]:
#loading data
df=pd.read_csv("http://13.234.66.67/summer19/datasets/social.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [3]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
#removing user id
filterdata=df.iloc[0:,2:].values

In [0]:
#now we can apply training test
features=filterdata[:,0:2]

In [0]:
label=filterdata[0:,2]

In [0]:
#for training and testing 
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features, label, test_size=0.2)

In [0]:
#now apply forfeature scalling
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
#now applying scaling in training data only
X=sc.fit_transform(X)

In [0]:
#testing data scaling
x=sc.transform(x)

### KNN Classifier

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
#random forest call with number of decision TREE
rclf=RandomForestClassifier(n_estimators=20)

In [0]:
#now training 
trained=rclf.fit(X,Y)

In [28]:
output=trained.predict(x)
output

array([1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0])

In [27]:
y

array([1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1])